<!DOCTYPE html>
<html ng-app='form'>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="app.js"></script>
  <title>Contacts</title>
</head>

<body ng-controller='MainController'>
  {{view.test}}
  <h1>Contacts App</h1>
  <form ng-submit='addForm()'>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model='form.name'>
    <label for="name">Email</label>
    <input type="text" name="email" ng-model='form.email'>
    <label for="name">Phone</label>
    <input type="text" name="phone" ng-model='form.phone'>
    <button type="submit" name="button">Add Contact</button>
  </form>
  <section>
    <label>Search</label>
    <input type="text" ng-model="search" class="width-8" />
  </section>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts | filter: search" ng-mouseover="addColor()" ng-style='{backgroundColor: view.color}'>
        <td ng-bind="contact.name"></td>
        <td ng-bind="contact.email"></td>
        <td ng-bind="contact.phone"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
