<!DOCTYPE html>
<html lang="en" ng-app='form'>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="kube.css">
</head>
<body ng-controller='MainController'>
<row centered>
  <column cols='6'>

  <h1 ng-click='animate()'>Welcome</h1>

  <div ng-show='view.show'>
  <form class="forms">
    <fieldset>
        <legend>Login data</legend>
        <section>
            <label>Email</label>
            <input type="email" name="user-email" class="width-12" ng-click='clickFunction()'/>
        </section>
        <section>
            <label>Password</label>
            <input type="password" name="user-password" class="width-12" ng-click='clickFunction()'/>
        </section>
        <button name="button" type='black' class='width-12' big>Submit</button>
    </fieldset>
</form>
</div>
  </column>
</row>
</body>
</html>
