<!DOCTYPE html>
<html ng-app='form'>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="app.js" charset="utf-8"></script>
  <title>Document</title>
</head>
<body ng-controller='selectedForm'>
  <div>
    <form ng-submit='addressForm()'>
      <label for="address">Address</label>
      <input type="text" id='address' value="" ng-model='form.address'>
      <label for="address2">Address 2</label>
      <input type="text" id='address2' value="" ng-model='form.address2'>
      <label for="city">City</label>
      <input type="text" id='city' value="" ng-model='form.city'>
      <label for="state">Street</label>
      <input type="text" id='state' value="" ng-model='form.state'>
      <label for="zip">Zip</label>
      <input type="text" id='zip' value="" ng-model='form.zip'>
      <button type="submit" name="button" >Submit</button>
    </form>
    <div ng-show='showIt'>
    <span>{{address.addressLabel}}</span><br>
    <span>{{address.address}}</span><br>
    <span>{{address.address2}}</span><br>
    <span>{{address.city}}</span><br>
    <span>{{address.state}}</span><br>
    <span>{{address.zip}}</span>
    </div>
  </div>
</body>
</html>
